body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(73, 62, 62);
}

#navbar {
    padding: 8px;
    display: flex;
    background-color: #f0f0f0;
}

#navbar-title
{
    flex: 1;
    font-family: monospace;
    font-size: 22px;
    padding: 10px;
}

#navbar-links {
    margin-top: 3px;
    font-family: monospace;
    font-size: 16px;
    padding: 8px;
}

#navbar-link{
    display: inline;
    padding: 8px;
    width: 100%;
    border: 2px solid rgb(172, 172, 172);
    background-color: #f0f0f0;
    border-radius: 3px;
}

#banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #f8f8ff;
}

#banner-image {
    display: block;
    object-fit: cover;
    width: 100%;
}

h1{
    color: rgb(85, 85, 119);
    text-align: center;
    font-family: monospace;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
}

#about-description {
    width: 60%;
    padding: 0 8px;
}

#how-to-use-cards
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

#hitchs {
    width: 40%;
}

#hitchs-image {
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
}

#game-components {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

#how-to-play {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-text {
    flex: 1;
    padding-right: 20px;
}

.list-image {
    flex-shrink: 0;
    max-width: 300px;
    /* Adjust the width of the image as needed */
    max-height: 300px;
    /* Adjust the height of the image as needed */
}

.section-image
{
    margin: 0 30%;
    max-width: 300px;
    /* Adjust the width of the image as needed */
    max-height: 300px;
    /* Adjust the height of the image as needed */
}

h2, h3 {
    margin-bottom: 4px;
    margin-top: 0;
    font-family: monospace;
}

#footer {
    display: flex;
    background-color: #f0f0f0;
    padding: 8px;
    margin-top: 16px;
    text-align: center;
}

#footer-links {
    list-style: none;
    flex: 1;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.qr-code
{
    flex-shrink: 1;
    margin: 0 32px;
    width: 80px;
    height: 100px;
}


.copyright {
    color: gray;
}

.icon-mini
{
    width: 25px;
    height: 25px;
}

.icon
{
    width: 40px;
    height: 40px;
}